<!--<div class="modal" *ngIf="showModal" mygecoCentralize>

  <div class="modal-header">
    <div class="title">CONTACT FORM</div>
    <img src="./images/close.png" (click)="toggleModal()">
  </div>

  <form class="modal-body" novalidate>
    
    <label for="name">
      <span class="required">*</span>
      <span>Name</span>
      <span class="error-message">Required Field</span>
    </label>

    <input 
      type="text"
      id="name"
    >

    <label for="email">
      <span class="required">*</span>
      <span>Email</span>
      <span class="error-message">Required Field</span>
    </label>
    <input
      type="text"
      id="email"
    >

    <label for="message">
      <span class="required">*</span>
      <span>Message</span>
      <span class="error-message">Required Field</span>
    </label>
    <textarea 
      id="message"
    ></textarea>

  </form>

  <div class="modal-footer">
    <button>Send</button>
  </div>

</div>

<div *ngIf="showModal" class="back-drop"></div>

<button (click)="toggleModal()">Toggle Modal</button>-->

<div *ngFor="let hero of heroes" (click)="selectedHero=hero">
  {{hero.name}}
</div>

<div *ngIf="selectedHero">
  <mygeco-test-form [hero]="selectedHero"></mygeco-test-form>
</div>